<div class="container">
  <div class="spa-background">
    <img src="../../../assets/images/img.png">

    <div class="menu-bar">
      <div class="title">
        Minimalism
      </div>
      <div class="contact" routerLink="/contact">
          Contact
      </div>
      <div class="about-us" routerLink="/about-us">
          About Us
      </div>
      <div class="what-we-do" routerLink="/services">
          What we do?
      </div>
      <div class="home" routerLink="/home">
          Home
      </div>
    </div>
    <div class="home-desc">
      <p>
          The spectacle before us was indeed sublime.
      </p>
      <div class="btn-now">
         Let's get started!
      </div>
    </div>

  </div>
</div>
